<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>BuildVersion</key>
    <string>34A20020</string>
    <key>ConnectedBus</key>
    <string>USB</string>
    <key>MaxTransferSpeed</key>
    <integer>61440</integer>
    <key>FamilyID</key>
    <integer>16</integer>
    <key>MLBN</key>
    <string>J59452XSDAVTA</string>
    <key>rbsync</key>
    <data>ASsANRVgijxo7/eZjTc4IMQvbjPdC/8DECcqqJny3r90vqrN1NNXdnhuv9k4K4eX
J0WVx5Yr1AgACicAHuktUQAAAAAAAAAAAAAAAAABkn922AlrzfqCHinkDQYLcDOK
we83gQ==</data>
    <key>FireWireGUID</key>
    <string>000A27001EE92D51</string>
    <key>FireWireVersion</key>
    <string>1.70</string>
    <key>MinITunesVersion</key>
    <string>9.0</string>
    <key>PlaylistFoldersSupported</key>
    <true/>
    <key>SerialNumber</key>
    <string>YM945ZVR721</string>
    <key>UpdaterFamilyID</key>
    <integer>34</integer>
    <key>VisibleBuildID</key>
    <string>1.0.2</string>
    <key>64Bit</key>
    <integer>3</integer>
    <key>OEMID</key>
    <integer>0</integer>
    <key>OEMU</key>
    <integer>16</integer>
    <key>DBVersion</key>
    <integer>3</integer>
    <key>SQLiteDB</key>
    <true/>
    <key>RBRequestVersion</key>
    <integer>3</integer>
    <key>KeyTypeSupportVersion</key>
    <integer>1</integer>
    <key>FairPlayDeviceType</key>
    <integer>43</integer>
    <key>MinBuildID</key>
    <string>1.0.0</string>
    <key>Language</key>
    <string>en-US</string>
    <key>MediaAvailable</key>
    <true/>
    <key>ForcedDiskMode</key>
    <false/>
    <key>BangFolder</key>
    <false/>
    <key>CanFlashBacklight</key>
    <true/>
    <key>CanHibernate</key>
    <true/>
    <key>CameWithCD</key>
    <false/>
    <key>SupportsSparseArtwork</key>
    <true/>
    <key>MaxThumbFileSize</key>
    <integer>50</integer>
    <key>RAM</key>
    <integer>64</integer>
    <key>HotPlugState</key>
    <integer>0</integer>
    <key>BatteryPollInterval</key>
    <integer>30</integer>
    <key>SortFieldsSupported</key>
    <true/>
    <key>MaxFileSizeInGB</key>
    <integer>4</integer>
    <key>MaxTracks</key>
    <integer>65534</integer>
    <key>OEMA</key>
    <integer>1</integer>
    <key>PowerInformation</key>
    <dict>
      <key>WillFlash</key>
      <true/>
      <key>USB</key>
      <true/>
      <key>FireWire</key>
      <false/>
    </dict>
    <key>UpdateMethod</key>
    <integer>3</integer>
    <key>MaxFWBlocks</key>
    <integer>16</integer>
    <key>FWPartSize</key>
    <integer>196608</integer>
    <key>Crumbs</key>
    <true/>
    <key>AutoRebootAfterFirmwareUpdate</key>
    <true/>
    <key>UpdateRetriesSupported</key>
    <true/>
    <key>ReservedMB</key>
    <integer>50</integer>
    <key>SoftReservedMB</key>
    <integer>256</integer>
    <key>VolumeFormat</key>
    <string>FAT32</string>
    <key>VolumeInformation</key>
    <dict>
      <key>HFSPLUS</key>
      <dict>
        <key>SupportedFormat</key>
        <true/>
        <key>ConversionSupported</key>
        <true/>
        <key>CurrentFormat</key>
        <false/>
      </dict>
      <key>FAT32</key>
      <dict>
        <key>SelfFormatSupport</key>
        <true/>
        <key>SupportedFormat</key>
        <true/>
        <key>ConversionSupported</key>
        <false/>
        <key>CurrentFormat</key>
        <true/>
      </dict>
    </dict>
    <key>PhotoEventsSupported</key>
    <true/>
    <key>vCardWithJPEGSupported</key>
    <true/>
  </dict>
</plist>
