<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AppleDRMVersion</key>
    <dict>
      <key>Minimum</key>
      <integer>0</integer>
      <key>Maximum</key>
      <integer>4</integer>
    </dict>
    <key>AudioCodecs</key>
    <dict>
      <key>MP3</key>
      <dict>
        <key>Mono</key>
        <true/>
        <key>Stereo</key>
        <true/>
        <key>MaximumSampleRate</key>
        <integer>48000</integer>
        <key>MaximumDataRate</key>
        <integer>320</integer>
      </dict>
      <key>WAV</key>
      <dict>
        <key>Mono</key>
        <true/>
        <key>Stereo</key>
        <true/>
        <key>Multichannel</key>
        <false/>
        <key>MaximumSampleRate</key>
        <integer>48000</integer>
        <key>MaximumBitDepth</key>
        <integer>16</integer>
      </dict>
      <key>AIFF</key>
      <dict>
        <key>Mono</key>
        <true/>
        <key>Stereo</key>
        <true/>
        <key>Multichannel</key>
        <false/>
        <key>MaximumSampleRate</key>
        <integer>48000</integer>
        <key>MaximumBitDepth</key>
        <integer>16</integer>
      </dict>
      <key>AAC</key>
      <dict>
        <key>AppleDRM</key>
        <true/>
        <key>MaximumSampleRate</key>
        <integer>48000</integer>
        <key>LC</key>
        <dict>
          <key>VariableBitRate</key>
          <true/>
          <key>PerceptualNoiseSubsitution</key>
          <true/>
        </dict>
      </dict>
      <key>AppleLossless</key>
      <dict>
        <key>AppleDRM</key>
        <true/>
        <key>MaximumBitDepth</key>
        <integer>32</integer>
        <key>MaximumBitDepthUntruncated</key>
        <integer>16</integer>
        <key>MaximumSampleRate</key>
        <integer>48000</integer>
        <key>Mono</key>
        <true/>
        <key>Multichannel</key>
        <false/>
        <key>Stereo</key>
        <true/>
      </dict>
      <key>Audible</key>
      <dict>
        <key>Type1</key>
        <false/>
        <key>Type2</key>
        <true/>
        <key>Type3</key>
        <true/>
        <key>Type4</key>
        <true/>
        <key>AAC</key>
        <true/>
      </dict>
    </dict>
    <key>BuildID</key>
    <string>1.1</string>
    <key>BatteryPollInterval</key>
    <integer>30</integer>
    <key>ConnectedBus</key>
    <string>USB</string>
    <key>MaxTransferSpeed</key>
    <integer>61440</integer>
    <key>FamilyID</key>
    <integer>132</integer>
    <key>FireWireGUID</key>
    <string>000a27001f0e028e</string>
    <key>FireWireVersion</key>
    <string>2.70</string>
    <key>MinITunesVersion</key>
    <string>8.1.0</string>
    <key>SerialNumber</key>
    <string>4H9493ZZALD</string>
    <key>UpdaterFamilyID</key>
    <integer>132</integer>
    <key>UpdateMethod</key>
    <integer>3</integer>
    <key>FormatType</key>
    <string>PBR</string>
    <key>ShadowDB</key>
    <true/>
    <key>ShadowDBVersion</key>
    <integer>2</integer>
    <key>PodcastsSupported</key>
    <true/>
    <key>VisibleBuildID</key>
    <string>1.1</string>
    <key>OEMID</key>
    <integer>0</integer>
    <key>OEMV</key>
    <integer>16</integer>
    <key>Speakable</key>
    <dict>
      <key>Format</key>
      <string>PCM</string>
      <key>SampleRate</key>
      <integer>22050</integer>
      <key>iPodVoices</key>
      <true/>
      <key>Messages</key>
      <string>/iPod_Control/Speakable/Messages/</string>
      <key>UseCategoryFolders</key>
      <true/>
      <key>TRSS</key>
      <string>id</string>
      <key>PLSS</key>
      <string>id</string>
    </dict>
    <key>ReservedMB</key>
    <integer>50</integer>
    <key>FWPartSize</key>
    <integer>4096</integer>
    <key>Crumbs</key>
    <true/>
    <key>PowerInformation</key>
    <dict>
      <key>WillFlash</key>
      <true/>
      <key>USB</key>
      <true/>
      <key>FireWire</key>
      <false/>
    </dict>
    <key>MaxVolumeLevel</key>
    <integer>32</integer>
    <key>MinVolumeLevel</key>
    <integer>4</integer>
    <key>VoiceMemosSupported</key>
    <false/>
    <key>iCalendarsSupported</key>
    <false/>
    <key>vCardsSupported</key>
    <false/>
    <key>AutoRebootAfterFirmwareUpdate</key>
    <true/>
    <key>VolumeFormat</key>
    <string>FAT32</string>
    <key>SupportsSoundCheck</key>
    <true/>
    <key>SupportsVolumeLimit</key>
    <true/>
    <key>BangFolder</key>
    <false/>
    <key>MinChargingCurrent</key>
    <integer>500</integer>
  </dict>
</plist>
